<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All users
    </h1>

    <a href="/users/new" class="btn btn-block btn-outline-secondary">
      Add a new user
    </a>
  </div>
</div>





<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Email
        </th>

        <th>
          Password
        </th>

        <th>
          Username
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @users.each do |user| %>
      <tr>
        <td>
          <%= user.id %>
        </td>

        <td>
          <%= user.email %>
        </td>

        <td>
          <%= user.password %>
        </td>

        <td>
          <%= user.username %>
        </td>

        <td>
          <%= time_ago_in_words(user.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(user.updated_at) %> ago
        </td>

        <td>
          <a href="/users/<%= user.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @users, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
