<!-- Validation failure messages -->
<% if @comment.errors.any? %>
  <% @comment.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit comment #<%= @comment.id %>
</h1>

<hr>

<!-- Form comment start -->
<form action="/update_comment/<%= @comment.id %>" method="post">
<!-- Form comment end -->

  <!-- Label and input for body start -->
  <div class="form-group">
    <label for="body">
      Body
    </label>

    <!-- Input for body start -->
    <input type="text" id="body" name="body" class="form-control" value="<%= @comment.body %>">
    <!-- Input for body end -->
  </div>
  <!-- Label and input for body end -->

  <!-- Label and input for author_id start -->
  <div class="form-group">
    <label for="author_id">
      Author
    </label>

    <!-- Input for author_id start -->
    <input type="text" id="author_id" name="author_id" class="form-control" value="<%= @comment.author_id %>">
    <!-- Input for author_id end -->
  </div>
  <!-- Label and input for author_id end -->

  <!-- Label and input for restaurant_id start -->
  <div class="form-group">
    <label for="restaurant_id">
      Restaurant
    </label>

    <!-- Input for restaurant_id start -->
    <input type="text" id="restaurant_id" name="restaurant_id" class="form-control" value="<%= @comment.restaurant_id %>">
    <!-- Input for restaurant_id end -->
  </div>
  <!-- Label and input for restaurant_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Update comment
  </button>
</form>

<hr>

<a href="/comments">
  Go back
</a>
