<h1>
  Edit comment #<%= @comment.id %>
</h1>

<hr>

<form action="/update_comment/<%= @comment.id %>" method="post">

  <div class="form-group">
    <label for="body">
      Body
    </label>

    <input type="text" id="body" name="body" class="form-control" value="<%= @comment.body %>">
  </div>

  <div class="form-group">
    <label for="author_id">
      Author
    </label>

    <%= select_tag(:author_id, options_from_collection_for_select(User.all, :id, :created_at, @comment.author_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="restaurant_id">
      Restaurant
    </label>

    <input type="text" id="restaurant_id" name="restaurant_id" class="form-control" value="<%= @comment.restaurant_id %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update comment
  </button>
</form>

<hr>

<a href="/comments">
  Go back
</a>
