<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All comments
    </h1>

    <a href="/comments/new" class="btn btn-block btn-outline-secondary">
      Add a new comment
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "comment_templates/comments_search_form" %>
  </div>
</div>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Body
        </th>

        <th>
          Author
        </th>

        <th>
          Restaurant
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @comments.each do |comment| %>
      <tr>
        <td>
          <%= comment.id %>
        </td>

        <td>
          <%= comment.body %>
        </td>

        <td>
          <% if comment.author.present? %>
            <a href="/users/<%= comment.author.id %>">
              <%= comment.author.created_at %>
            </a>
          <% end %>
        </td>

        <td>
          <%= comment.restaurant_id %>
        </td>

        <td>
          <%= time_ago_in_words(comment.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(comment.updated_at) %> ago
        </td>

        <td>
          <a href="/comments/<%= comment.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @comments, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
