<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All restaurants
    </h1>

    <a href="/restaurants/new" class="btn btn-block btn-outline-secondary">
      Add a new restaurant
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "restaurant_templates/restaurants_search_form" %>
  </div>
</div>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Name
        </th>

        <th>
          Address
        </th>

        <th>
          Comments count
        </th>

        <th>
          Cuisine
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @restaurants.each do |restaurant| %>
      <tr>
        <td>
          <%= restaurant.id %>
        </td>

        <td>
          <%= restaurant.name %>
        </td>

        <td>
          <%= restaurant.address %>
        </td>

        <td>
          <%= restaurant.comments_count %>
        </td>

        <td>
          <% if restaurant.cuisine.present? %>
            <a href="/cuisines/<%= restaurant.cuisine.id %>">
              <%= restaurant.cuisine.name %>
            </a>
          <% end %>
        </td>

        <td>
          <%= time_ago_in_words(restaurant.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(restaurant.updated_at) %> ago
        </td>

        <td>
          <a href="/restaurants/<%= restaurant.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @restaurants, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
